.block-cell {
  background: none;
  border: 1px dashed grey;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 3em;
  overflow: hidden;
}

.cell-image {
  width: 3em;
}

.row {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.canvas {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background: white;
  border-spacing: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 9em;
  border: 1px solid green;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  z-index: 1;
}