.block-cell {
  background: none;
  border: 1px dashed grey;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 3em;
  overflow: hidden;
}

.block-image {
  width: 3em;
}

.row {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.canvas {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background: white;
  border-spacing: 0;
  margin-bottom: 3em;
}

.curr-block-display {
  width: 3em;
  border-radius: 50%;
  margin: 0.5em;
}