.block-cell {
  background: none;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  padding: 0;
  margin: 0;
  height: 1em;
  width: 1em;
  cursor: cell;
}

.cell-image {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.canvas {
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.canvas-holder {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10em;
  border: 1px solid green;
  background-color: lightgrey
}

.scroll-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-holder > div {
  text-align: center;
}