.toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	cursor: pointer;

	.info-bar {
		.option-button {
			width: 2.5em;
			height: 2.5em;
			border-radius: 0.3em;
			margin: 0.3em;
			background: white;
		}

		.curr-block-display {
			width: 2.5em;
			height: 2.5em;
			border-radius: 50%;
			margin: 0.3em;
			background: white;
		}

		.disabled {
			opacity: 0.5;
		}
	}

	.block-bar {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		background: white;

		.block-button {
			background: none;
			border-width: 0;
			padding: 0;
			margin: 0;
			display: inline-block;
			width: 5em;
			height: 5em;
		}

		.block-image {
			width: 5em;
		}
	}
}


